@{
    ViewData["Title"] = "Home Page";
}

<div id="viewOrders" class="container-fluid">
    
    <!-- Order Template -->

    <div id="Order-Details" class="container-fluid">
        <!-- Details Header -->
        <div class="row bg-primary">
            <div class="col-sm-1"><img src="#" class="glyphicon-user" /></div>
            <div class="col-md-4"><span class="order-details-source font-weight-b">[Source]</span> <span class="order-details-id">[Order #ID]</span></div>
            <div class="col-md-5"><span class="order-details-ship-name">[Shipping Name]</span></div>
            <div class="col-sm-2"><span class="order-date">[Order Date]</span></div>
        </div>
        <!-- Main Details Container -->
        <div class="row">
            <div class="col-sm-12">

                <!-- Details Containers - Left & Right -->
                <div class="row">
                    <div class="col-sm-8">

                        <!-- Item Details -->
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="#" class="order-details-item-thumb" />
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li class="order-details-variation"><b>Variation:</b> [ Variation ]</li>
                                    <li class="order-details-qty"><b>Qty:</b> [ Quantity ]</li>
                                    <li class="order-details-sku"><b>SKU:</b> [ SKU ]</li>
                                </ul>
                            </div>
                        </div>
                        <div class="order-details-item-name col-md-12">
                            <a href="#">[ Item Name ]</a>
                        </div>
                        <div class="order-details-notes col-sm-12">
                            
                            <!-- Note Block Template -->
                            <div class="row">
                                <div class="col-xs-2">
                                    <img src="#" />
                                </div>
                                <div class="order-details-customer-notes col-sm-10">
                                    <p>[ Original customer notes imported from order. ]</p>
                                </div>
                            </div>
                            <!-- end Note Block Template -->
                          
                            <div class="order-details-add-note">
                                <form role="form">
                                    <div class="form-group">
                                        <label class="sr-only" for="orderDetailsAddNote">Add New Note</label>
                                        <input type="text" class="form-control" id="orderDetailsAddNote" placeholder="Add new note...">
                                    </div>                                    
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                   <!-- Right Order Column -->  
                    <div class="col-sm-4">
                        <!-- Shipping Block -->
                        <div class="col-sm-12 order-details-ship-details">
                            <span class="font-weight-b">Shipping Address:</span>
                            <ul>
                                <li>[Shipping Name]</li>
                                <li>[ Shipping Street ]</li>
                                <li>[ Shipping City ], [ STATE ] [ZIP ]</li>
                            </ul>
                            <a href="#" id="orderDetailsAddNewShip">Add New Address</a>
                        </div>
                        <!-- Order Management Block -->
                        <div class="col-sm-12 order-details-management">
                            <form role="form">
                                <select class="custom-select">
                                    <option selected="">Assign to User</option>
                                    <option value="1">[ User A ]</option>
                                    <option value="2">[ User B ]</option>
                                    <option value="3">Unassign</option>
                                </select>
                                <select class="custom-select">
                                    <option selected="">Update Status</option>
                                    <option value="1">Open</option>
                                    <option value="2">Proof</option>
                                    <option value="3">Ready to Export</option>
                                    <option value="4">Submitted</option>
                                </select>
                                <button type="submit" class="btn btn-sm btn-outline-secondary">Update</button>
                            </form>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>

</div>
